@import url(./reset.less);

@font-face {
  font-family: 'ali';
  src: url(../font/AlimamaDongFangDaKai-Regular.ttf);
}

/* 隐藏 Chrome、Safari 和 Opera 的滚动条 */
::-webkit-scrollbar {
  display: none;
}

html,
body,
#root,
.App {
  width: 100%;
  // height: 100vh;
  box-sizing: border-box;
  min-width: 375px;
  max-width: 375px;
  margin: 0 auto;
  font-family: 'ali', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  color: var(--theme-color);
  line-height: 1.5715;
  white-space: normal;
  text-align: left;
  padding: 0;
  min-height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  width: 100%;
}

:root {
  --tabbar-height: 50px;
  --tabbar-z-index: 1;
  --tabbar-background: #fff;
  --navbar-height: 40px;
  --font-size-sm: 8px;
  --theme-color: #212121;
  --theme-font-size: 16px;
  --theme-font-weight: bold;
  --theme-line-height: 40px;
  --theme-height: 40px;
  --second-color: #a9aeb8;
  --third-color: #f2f3f5;
  --gray-color: #f7f8fa;
  --layout-padding: 13px;
  --layout-margin: 12px;
  --border-sm-radius: 12px;
  --confirm-btn-height: 44px;
}

.icon-class {
  font-size: 16px;
  vertical-align: middle;
}

.page-title {
  display: flex;
  align-items: center;
}

.card-shadow {
  box-shadow: 0px 0px 12px var(--third-color);
}

.arco-dropdown-menu {
  right: 8px !important;
}

.theme-title {
  color: var(--theme-color);
}

.second-title {
  color: var(--second-color);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
}
